h2{
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-size: 26px;
  line-height: 38px;
  letter-spacing: -0.02em;
  margin-bottom: 1.5rem;
}
h1{
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  font-size: 48px;
  line-height: 1.20;
  letter-spacing: -0.02em;
  margin-bottom: 1.5rem;
}