.fAQ{
    padding: 4rem;
}
.faq-img{
    display: flex;
    justify-content: center;
    align-items: center;
}
@media only screen and (max-width: 600px) {
    .fAQ{
        padding: 4rem !important;
    }
}
@media only screen and (max-width: 770px) {
    .fAQ{
        padding: 2rem !important;
    }
}